<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid'19 Dashboard</title>
    <link type="text/css" rel="stylesheet" href="/css/style2.css" />
    <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Kanit:wght@300&family=Ubuntu:wght@300&display=swap" rel="stylesheet"> 
</head>

<body>
    <div class="root">
                <h2 class="header">Covid'19 Dashboard</h2>
        <a href="https://github.com/zews78/COVID-19_Dashboard"><img style="float: right; height: 24px; margin-top: -31px;" src="/images/user.png"></a>
        <div class="main">
            <div class="card">
                <h3>India</h3><br>
                <p>Track the LIVE updates of Coronavirus in India statewise.</p>
                <br><br><br>
                <a href="/india">
                    <div class="track">Track</div>
                </a>
                
            </div>
            <div class="card">
                <h3>World</h3><br>
                <p>Track the LIVE variation of the Coronavirus cases around the World.</p>
                <br><br>
                <a href="/world1">
                    <div class="track">Track</div>
                </a>
            </div>
            <div class="card">
                <h3>News</h3><br>
                <p>Stay alert with the NEWS related to coronavirus.</p>
                <br><br><br>
                <a href="/news">
                    <div class="track">Track</div>
                </a>
            </div>
            <div class="card">
                <h3>District Zone</h3><br>
                <p>Get alert of your district zone accordingly no cases or constant number of cases in 14 days.</p>
                <br><br><br>
                <a href="/zone">
                    <div class="track">Track</div>
                </a></div>
        </div>
    </div>




    <script type="text/javascript" src="script.js"></script>
</body>

</html>
