<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid'19 Dashboard</title>
    <link type="text/css" rel="stylesheet" href="/css/style2.css" />
</head>
<body>
    <div class="root">
        <div class="main">
            <div class="card"><a href="/india">
                <h3>India</h3>
            </a></div>
            <div class="card"><a href="#">
                <h3>World</h3>
            </a></div>
            <div class="card">
                <a href="/news">
                <h3>News</h3>
            </a></div>
            <div class="card">
                <a href="/zone">
                <h3>District Zone</h3>
            </a></div>
            <div class="card"></div>
            <div class="card"></div>
        </div>
    </div>
    



    <script type="text/javascript" src="script.js"></script>
</body>
</html>