<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid'19 Dashboard</title>
</head>
<body>
    <h1>You are in red Zone</h1>
    








    <script type="text/javascript" src="script.js"></script>
</body>
</html>