*{
    margin:10px;
    padding:10px;
}
.header{
    text-align: center;
}
#india-track{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    height: 200px;
    background-color: cadetblue;
}
.top-boxes{
    width:15%;
    height: 100px;
    text-decoration: none;
    text-align: center;
    background-color: brown;
}

table{


    border-color: black;
}
th,td{
    background-color: blanchedalmond;
    border-radius: 6px;
}
td{
    text-align: right;
    cursor: pointer;
}

th{
    position:-webkit-sticky;
    position: sticky;
    top:0;
}
#table-header{
    /* position: sticky; */
}
#table-data{
    /* position: relative; */
}
#states{
    text-align: left;
    width:150px;
}
