*{
    margin:10px;
    padding:10px;
}
.header{
    text-align: center;
}
table{


    border-color: black;
}
th,td{
    background-color: blanchedalmond;
    border-radius: 6px;
}
td{
    text-align: right;
}